{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <h2>Приложение книги по категориям для ниц инфра м</h2>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
